<?xml version="1.0" encoding="UTF-8"?>

<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/info.log</file> <!-- 파일을 저장할 경로를 정한다 -->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss:SSS}][%thread] %C.%M:%line [%level] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/history/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern> <!-- 파일 쓰기가 종료된 log 파일명 설정 및 .gz로 압축 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize> <!-- 한 파일의 최대 용량 -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory> <!-- 한 파일의 최대 저장 기한 -->
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- [2018-06-25] [15:10:24.305] [스레드] [클래스명.메소드명:라인] [로그 레벨] [message] -->
            <pattern>[%d{HH:mm:ss.SSS}] %green([%thread]) %c.%M:%line %highlight([%level]) %m%n</pattern>
        </layout>
    </appender>


    <logger name="com.api.rest.mapper.PostMapper" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>